<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Pawductivity needs to send system commands (like volume and space switching) to control your Mac.</string>
	<key>Privacy - Apple Events Sending Usage Description</key>
	<string>Pawductivity needs to send system commands (like volume and space switching) to control your Mac.</string>
</dict>
</plist>
